---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
body {
    font-family: serif;
    background-color: #f3f3f3;
    background-image: url("/birds/assets/bgtile.png");
    background-repeat: repeat;
    background-size: 500px;
    height: 100%;
    flex-flow: column;

    display: block;
    align-content: center;
}
.main {
    height: 100%;
    position: relative;
}
.page-content {
    padding:0;
    height: 100%;
}

.wrapper {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 30px;
    background-color: #f0eee1;
    height: 100%;
}

/*header*/
.site-header {
    background-color: #19798a;
    background-image: linear-gradient(45deg, black, transparent);
    border-color: teal;
    border-bottom: none;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0,0,0,0.2) 0 5px 5px;
    font-family: monospace;
}
.site-title {color:white !important;}

a.page-link {
    background-color:white !important;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
}

@media only screen and (max-width: 600px) {
    a.page-link {border:none;}
}

/*footer*/
.site-footer {
    border-top: none;
    border-radius: 10px 10px 0 0;
    background-color: #f5f5f5;
    box-shadow: rgba(0,0,0,0.2) inset 0 5px 5px;
}

/*ToC*/
details {
    border-radius: 5px;
    padding: 0.5em 0.5em 0;
    background-color: #f9f7ef;
    border: 1px solid rgb(127, 116, 85);
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #ded6c4;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-radius: 5px 5px 0 0;
    margin-bottom: 0.5em;
}

/*images*/
.page-photo {
    width: 300px;
    float: right;
    margin: 0 10px 10px 10px;
    box-shadow: rgba(0,0,0,0.2) 0 0 5px 3px;
}

@media only screen and (max-width: 600px) {
    .page-photo {
        width: 100%;
        max-height: 300px;
        object-fit: cover;

        float: none;
        margin: 10px 0 10px 0;
    }
}
